*
{
    margin: 0; padding: 0;
}

html, body {
    height: 100%; 
    width: 100%;
    border: 0;
    margin: 0px;
}

#frCnvs{
float:left;
width:70%;
overflow:hidden;
padding-left: 10px
}

td {
	padding:0 10px 010px;
}
table td {
	min-width: 20px;
}

#frfm{
float:right;
width:25%;
overflow:hidden;
}